.mainCard__Container{
    
    

    width: 100%;
    margin-top: 30px;
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);/* auto fill es para que se generen solas */
    gap: 26px;
    place-content:center ;
    padding: 32px;
    
  }

  
.cards__tittle{

  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 60px;
  font-family: var(--mulish);
}

  .movierCard{
    border: 1px solid var(--SecondaryBlack);
    height: 300px;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px var(--base_red);
    display: flex;
    flex-direction: column;
    position: relative;
    
    
  }
  .imgCard{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

  }

  .clasificacionMovie{
    position: absolute;
    background-color: orange;
    
    right: 18px;
    top: 18px;
    width: 30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .calificacionMovie{
    position: absolute;
    background-color: orange;
    
    left: 18px;
    top: 18px;
    width: 30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo__cardMovie{
    position: absolute;
    bottom: 18px;
    background-color: orange;
    width: 100%;
    color: white;

    width: 100%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.4rem;
    
    display: none;
    

  }
  .movierCard:hover .titulo__cardMovie{
    display: block;
    transition: all 10s ease-in;
  }