/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;600;700&display=swap');

/* pages */
@import url(./csspages/nav.css);

@import url(./csspages/slider.css);

@import url(./csspages/generos.css);

@import url(./csspages/movieCards.css);

@import url(./csspages/movieDetailsPage.css);

@import url(./csspages/footer.css);

html{
    font-size: 62.5%;
    
}
:root{
    /* colors */
    --PrimaryBlack: black;
    --SecondaryBlack: #666;
    --base_red: #f2625f;



    /* FONTS */
    --mulish: 'Playfair Display', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inactive{
    display: none;
}